<p id="notice"><%= notice %></p>

<h2>
  <%= @post.title %>
</h2>

<p>
  <b>Content:</b>
  <%= @post.content %>
  <br>
  <%= @post.updated_at %>
</p>

<p>
	Number of comment(s): 
	<%= @post.comments.count %>
</p>

<% @post.comments.each_with_index do |comment, index| %>
  <tr>
    <td><%= index + 1 %>. </td>
    <td><%= comment.text %></td>
	<br>
  </tr>
<% end %>


<%= form_for(@comment) do |f| %>
  <div class="field">
    <%= f.label :post_id %><br />
    <%= f.hidden_field :post_id, :value => @post.id %>
  </div>

  <div class="field">
    <%= f.label :text %><br />
    <%= f.text_area :text, :rows => "3", :placeholder => "Add comment...", :class => "span12" %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>



<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
